<ul class="sidebar-menu">
    <li class="header">MENU</li>
    {% for item in menu %}
    <li>
        <a href="{{  path(item.route) }}">
            <i class="{{ item.icon }}"></i> <span>{{ item.name }}</span>{% if item.badge %}<small class="label pull-right bg-green">{{ item.badge }}</small>{% endif %}
        </a>
    </li>    
    {% endfor %}
</ul>