{% extends "::frontbase.html.twig" %}

{% block content %}
    <div class="grayLineBottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>kredyty</h1>                    
                </div>
            </div>
        </div>
    </div>
    <div class="container m30 mb30">
        <div class="row">
            <div class="col-md-12">
                {{ page|raw }}
            </div>            
        </div>
    </div>

{% endblock %}

{% block css %}
<link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
{% endblock %}